.hamburger-menu{
    position : fixed;
    height : 100%;
    width : 300px;
    background-color : white;
    box-shadow : 2px 0 5px rgba(0,0,0,0.5);
    top : 0;
    left: 0;
    border: dashed 4px black;
    z-index: 2;
}