.hamburger-menu {
    position : fixed;
    height : 100%;
    width : 60%;
    max-width : 350px;
    background-image: linear-gradient(black, white, aquamarine);
    box-shadow : 2px 0 5px rgba(0,0,0,.5);
    top : 0;
    left : 0;
    z-index : 2;
    transform: translate(-2%);
    transition: transform 2s ease-out; 
}

.hamburger-menu.open {
    transform: translate(0); 
}

.hamburger-menu ul {
    display : flex;
    flex-direction : column;
    height : 100%;
    list-style : none;
    justify-content : space-around;
}

.hamburger-menu a {
    text-decoration : none;
    color : black;
    font-size: 30px;
    font-weight: bold;
}

.hamburger-menu:hover,.hamburger-menu:active {
    color : silver;
}

.ham-links{
    overflow: auto;
}
